/*style za cijelu stranicu*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-color: gray;
}

header {
    margin: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    background-color: gold;
}

nav {
    margin: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 25px;
    background-color: gold;
}

/*centriranje liste*/
nav ul {
    height: 100%;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
}

/*horizontalno raspoređivanje liste*/
nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 140px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 50px;
    border-radius: 25px;
}

nav ul li a:hover {
    background-color: white;
    color: gold;
}

.rowMain {
    margin: 20px;
    border-radius: 10px;
}

.columnMain {
    float: left;
    width: 700px;
    padding: 10px;
}

footer {
    text-align: center;
}



/*style za novosti*/
.rowNews {
    margin: 20px;
    border-radius: 10px;
}

h3 {
    margin-left: 10px;
}

.columnNews1 {
    float: left;
    width: 700px;
    padding: 10px;
}

.columnNews2 {
    float: left;
    width: 450px;
    padding: 10px;
}



/*style za fotogaleriju*/
.rowPhoto {
    margin: 20px;
    border-radius: 10px;
}

.columnPhoto1 {
    float: left;
    width: 730px;
    padding: 10px;
}

.columnPhoto2 {
    float: left;
    width: 730px;
    padding: 10px;
}

.columnPhoto3 {
    float: left;
    width: 730px;
    padding: 10px;
}



/*style za članove*/
.slika {
    float: left;
    margin: 20px;
    margin-top: 0px;
}



/*style za kontakt*/
.kontakt {
    float: left;
    margin: 25px;
}